.container {
  display: flex;
}
.grid {
  width: 250px;
  height: 500px;
  background-color: yellow;
  display: flex;
  flex-wrap: wrap;
}
.grid div {
  height: 25px;
  width: 25px;
}
.tetromino {
  background: blue;
}

.mini-grid {
  margin-left: 50px;
  width: 160px;
  height: 160px;
  display: flex;
  flex-wrap: wrap;
  background: yellow;
}
.mini-grid div {
  height: 40px;
  width: 40px;
}
